<div class="modal" [ngClass]="{'is-active': mostrar}">
  <div class="modal-background" style="background:rgba(0,0,0,0.9)!important;"></div>
  <div class="modal-content">
    <div class="card" style=" border-radius:1em; overflow: hidden">
      <div class="card-image" >
          <figure class="image " style="border-radius: 1em 1em 0em 0em; overflow: hidden;">
              <img src="assets/bg-lockscreen_salud.svg" alt="Image">
          </figure>
          
          <button class="button is-primary is-inverted"  (click)="logout()" style="position:absolute; top:1em; right:1em;"><span class="icon"><i class="fa fa-sign-out"></i></span> <span>Salir</span></button>
      </div>
      <div class="card-content has-text-centered">
          <form name="form" (ngSubmit)="!loading && login()">
            <div class="notification is-danger" *ngIf="mostrarMensaje">
                <a class="delete" (click)="mostrarMensaje = false"></a>
                <b>Error:</b> {{ mensaje }}
            </div>
            <nav class="level">
              <div class="level-item has-text-centered">
                <figure class="image is-128x128" >
                  <img src="assets/{{ usuario.avatar || 'avatar-unknow' }}.svg" alt="avatar">
                  <span class="icon is-large" style="position: absolute; top: 0px; right:0px;"><i class="fa fa-lock"></i></span>
                </figure>
              </div>
            </nav>
            <h1 class="title">{{ usuario.nombre }} {{ usuario.apellidos }}</h1>
            <h2 class="subtitle"><span class="icon"><i class="fa fa-user-circle"></i></span> {{usuario.id}}</h2>
            <p class="control has-icon">
                <input class="input is-medium" [ngClass]="{'is-danger': mensaje}" type="password" name="password" id="password" placeholder="Contraseña" [(ngModel)]="credenciales.password">
                <span class="icon is-small">
                <i class="fa fa-lock"></i>
                </span>
            </p>
            <button class="button is-primary is-medium is-fullwidth" [ngClass]="{'is-loading': loading}"><span class="icon"><i class="fa fa-unlock"></i></span><span>Desbloquear</span></button>
          </form>
      </div>
      
    </div>
    
  </div>
</div>