<menu-produccion></menu-produccion>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile">
        <produccion-menu-aside></produccion-menu-aside>
    </div>
    <div class="column" style="padding:2em; overflow:auto;">
      <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
        <section class="hero" [ngClass] = "'is-primary'" >
            
            <div class="hero-body" style="position:relative;">
                <div class="container is-fluid">
                    
                    <h1 class="title">
                        <span class="icon is-medium"><i class="fa fa-check-square-o"></i></span> Bienvenido al Módulo de Producción
                    </h1>
                    
                </div>
            </div>
        </section>
        <br>
        <table class="table is-fullwidth">
          <tr>
            <td style="text-align: center;">
              <img src="assets/img_produccion.svg" style="min-width: 150x; max-width: 300px;">
            </td>
          </tr>
        </table>
        <br>
      </div>  
    </div>
</div>    