<menu-produccion></menu-produccion>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile">
        <produccion-menu-aside></produccion-menu-aside>
    </div>
    <div class="column" style="padding:2em; overflow:auto;">
        <div style="background: #FFF; border-radius: 1em; overflow: hidden;">
            <section class="hero" [ngClass] = " {'is-dark': busquedaActivada, 'is-primary': !busquedaActivada } " >
                
                <div class="hero-body" style="position:relative;">
                    <a class="button  is-dark" *ngIf="busquedaActivada" style="position:absolute; top:1em; right:1em;" (click)="busquedaActivada=false;searchBox.value='';resultadosBusqueda=[]"><span class="icon "><i class="fa fa-close"></i></span></a>
                    <a class="button  is-dark" *ngIf="busquedaActivada" style="position:absolute; top:1em; right:3.5em;" (click)="listarBusqueda(searchBox.value,1)"><span class="icon "><i class="fa fa-refresh"></i></span></a>
                    <a class="button  is-primary" *ngIf="!busquedaActivada" style="position:absolute; top:1em; right:1em;" (click)="listar(1)"><span class="icon "><i class="fa fa-refresh"></i></span></a>
                    <!--<div class="container is-fluid">
                        
                        <h1 class="title" *ngIf="!busquedaActivada">
                            <span class="icon is-medium"><i class="fa fa-check-square-o"></i></span> Trabajos en Espera
                        </h1>
                        <h1 class="title" *ngIf="busquedaActivada">
                            <span class="icon is-medium"><i class="fa fa-search"></i></span> Búsqueda 
                        </h1>
                        <div class="columns">
                            <div class="column">
                                <label class="label" style="color: #FFF">Buscar Trabajo</label>
                                <input class="input is-medium" type="text" #searchBox (keyup)="buscar(searchBox.value)" placeholder="Buscar">
                            </div>
                        </div>
                        
                    </div>-->
                    <h1 class="title" *ngIf="!busquedaActivada">
                        <span class="icon is-medium"><i class="fa fa-check-square-o"></i></span> Trabajos en Espera
                    </h1>
                    <h1 class="title" *ngIf="busquedaActivada">
                        <span class="icon is-medium"><i class="fa fa-search"></i></span> Búsqueda 
                    </h1>
                    <br>
                    <div class="field has-addons  is-fluid">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="Buscar" #searchBox id="search-box" (keyup)="buscar(searchBox.value)">
                        </div>
                        <div class="control">
                          <a class="button is-info" (click)="actualizar_syncronizar()" [ngClass]="{'is-loading': cargandoSync, 'is-disabled': cargandoSync}">
                            <i class="fa fa-refresh"></i>&nbsp; Actualizar Lista
                          </a>
                        </div>
                    </div>
                </div>
            </section>
            <div class="is-fullwidth has-text-centered" *ngIf="cargando">
                <br>
                <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
                <br>
                <br>
            </div>
            <div style="overflow:auto; display:block">
                <table class="table is-fullwidth is-bordered is-striped" *ngIf="!cargando" style="font-size: 10pt;">
                    <thead>
                        <tr>
                            <th>FOLIO</th>
                            <th>DATOS</th>
                            <th style="width: 70px;"></th>
                        </tr>
                        
                    </thead>
                    <tbody  *ngIf="!busquedaActivada">
                        <tr *ngFor="let item of lista; let i=index">
                            <td><b>{{ item.folio }}</b></td>
                            <td><b>CLIENTE:</b> {{ item.cliente.nombre }}<br>
                                <b>DESCRIPCIÓN:</b> {{ item.descripcion }}<br>
                                <table class="table is-bordered is-striped is-fullwidth" style="font-size: 9pt;">
                                    <thead class="cabecera_articulos">
                                        <tr>
                                            <th>ARTÍCULO</th>
                                            <th style="width: 80px;">UNIDADES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item_detalles of item.ventas_detalles; let i_de=index">
                                            <td>- <b>{{ item_detalles.articulo.nombre }}</b><br>{{ item_detalles.notas }}</td>
                                            <td>{{ item_detalles.unidades }}</td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </td>
                            <td>
                                <button type="button" class="button is-primary" (click)="ver_produccion(item)"><i class="fa fa-arrow-right" style="cursor:pointer"></i></button>
                            </td>
                           
                        </tr>
                        <tr *ngIf="lista.length == 0">
                            <td colspan="3" style="vertical-align: middle;cursor:pointer; color:#888;">Esta lista está vacía.</td>                    
                        </tr>
                    </tbody>
                    <tbody *ngIf="busquedaActivada">
                        <tr *ngFor="let item of resultadosBusqueda; let i=index">
                                <td><b>{{ item.folio }}</b></td>
                                <td><b>CLIENTE:</b> {{ item.cliente.nombre }}<br>
                                    <b>DESCRIPCIÓN:</b> {{ item.descripcion }}<br>
                                    <table class="table is-bordered is-striped is-fullwidth" style="font-size: 9pt;">
                                        <thead class="cabecera_articulos">
                                            <tr>
                                                <th>ARTÍCULO</th>
                                                <th style="width: 80px;">UNIDADES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item_detalles of item.ventas_detalles; let i_de=index">
                                                <td>- <b>{{ item_detalles.articulo.nombre }}</b><br>{{ item_detalles.notas }}</td>
                                                <td>{{ item_detalles.unidades }}</td>
                                            </tr>
                                        </tbody>
                                    </table>    
                                </td>
                                <td>
                                    <button type="button" class="button is-primary" (click)="ver_produccion(item)"><i class="fa fa-arrow-right" style="cursor:pointer"></i></button>
                                </td>
                        </tr>

                        <tr *ngIf="resultadosBusqueda.length == 0 && busquedaActivada">
                            <td colspan="3" style="vertical-align: middle;cursor:pointer; color:#888;">No se encontraron resultados.</td>                    
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Paginación para la lista  -->
            <paginacion 
                [total]="total" 
                [paginasTotales]="paginasTotales" 
                [resultadosPorPagina]="resultadosPorPagina" 
                [paginaActual]="paginaActual" 
                [indicePaginas]="indicePaginas"
                (onSiguiente)="paginaSiguiente()" 
                (onAnterior)="paginaAnterior()" 
                (onListar)="listar($event)" 
                *ngIf="total>0 && total > resultadosPorPagina && !busquedaActivada"></paginacion>
            <paginacion 
                [total]="totalBusqueda" 
                [paginasTotales]="paginasTotalesBusqueda" 
                [resultadosPorPagina]="resultadosPorPaginaBusqueda" 
                [paginaActual]="paginaActualBusqueda" 
                [indicePaginas]="indicePaginasBusqueda"
                (onSiguiente)="paginaSiguienteBusqueda(searchBox.value)" 
                (onAnterior)="paginaAnteriorBusqueda(searchBox.value)" 
                (onListar)="listarBusqueda(searchBox.value,$event)" 
                *ngIf="totalBusqueda > 0 && totalBusqueda > resultadosPorPaginaBusqueda && busquedaActivada"></paginacion>
            
        </div>
    </div>
</div>    

<div id="modal-tema" class="modal is-active" [ngClass]="{'is-active': showProduccion}">
    <div class="modal-background"  (click)="showProduccion = !showProduccion"></div>
    <div class="modal-card" style="width:60%; height: auto;">
        <header class="modal-card-head" style="background-color: #00d1b2" >
            <div class="container is-fluid"  style="width:100%;">
                <h1 class="title" style="color:#FFF;">
                    <span class="icon is-medium"><i class="fa fa-word"></i></span> Producción
                </h1>
            </div>            
            <a class="button  is-primary" style="position:absolute; top:1em; right:1em;" (click)="showProduccion = !showProduccion"><span class="icon "><i class="fa fa-close"></i></span></a>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column is-3">
                    <div class="field">
                        <label class="label">Folio</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ obj_produccion.folio }} ">
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="field">
                        <label class="label">Fecha</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ obj_produccion.fecha }} ">
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Cliente</label>
                        <div class="control">
                            <input class="input" type="text" value="{{ obj_produccion.cliente.nombre }}">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Descripción</label>
                        <div class="control">
                            <textarea class="textarea">{{ obj_produccion.descripcion }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <table class="table table-bordered table-striped is-fullwidth">
                        <thead>
                            <th>Articulo</th>
                            <th>Unidades</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item_articulos of obj_produccion.ventas_detalles; let i=index">
                                <td><b>{{ item_articulos.articulo.nombre }}</b><br>{{ item_articulos.notas }}</td>
                                <td>{{ item_articulos.unidades }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="columns" *ngIf="obj_produccion.tipo_venta == 2">
                    <div class="column is-12">
                        <div class="field">
                            <label class="label">Descripción Mostrador</label>
                            <div class="control">
                                <textarea class="textarea" rows="2"  [(ngModel)]="produccion.descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                    
                </div>
            <div class="columns">
                <div class="column is-12" S>
                    <div class="bd-notification">
                        <div class="field">
                            <input class="is-checkradio is-block is-primary" id="produccion_diseno" type="checkbox" [(ngModel)]="produccion.diseno">
                            <label for="produccion_diseno" style="font-size: 9pt;"><i class='fa fa-paint-brush'></i> DISEÑO</label>
                        <!--</div>
                        <div class="field">-->
                            <input class="is-checkradio is-block is-primary " id="produccion_impresion_gf" type="checkbox" name="produccion_impresion_gf"  [(ngModel)]="produccion.impresion_gf">
                            <label for="produccion_impresion_gf" style="font-size: 9pt;"><i class='fa fa-print'></i> IMPRESIÓN GRAN FORMATO</label>
                            
                            <input class="is-checkradio is-block is-primary " id="produccion_impresion_d" type="checkbox" name="produccion_impresion_d"  [(ngModel)]="produccion.impresion_d">
                            <label for="produccion_impresion_d" style="font-size: 9pt;"><i class='fa fa-print'></i> IMPRESIÓN DIGITAL</label>
                        <!--</div>
                        <div class="field">-->
                            <input class="is-checkradio is-block is-primary " id="produccion_preparacion" type="checkbox" name="produccion_preparacion" [(ngModel)]="produccion.preparacion">
                            <label for="produccion_preparacion" style="font-size: 9pt;"><i class='fa fa-wrench'></i>PREPARACIÓN</label>
                        <!--</div>
                        <div class="field">-->
                            <input class="is-checkradio is-block is-primary " id="produccion_instalacion" type="checkbox" name="produccion_instalacion" [(ngModel)]="produccion.instalacion">
                            <label for="produccion_instalacion" style="font-size: 9pt;"><i class='fa fa-truck'></i>INSTALACIÓN</label>
                        <!--</div>
                        <div class="field">-->
                            <input class="is-checkradio is-block is-primary " id="produccion_entrega" type="checkbox" name="produccion_entrega" [(ngModel)]="produccion.entrega">
                            <label for="produccion_entrega" style="font-size: 9pt;"><i class='fa fa-shopping-bag'></i>ENTREGA</label>
                        <!--</div>
                        <div class="field">-->
                            <input class="is-checkradio is-block is-primary " id="produccion_maquilas" type="checkbox" name="produccion_maquilas" [(ngModel)]="produccion.maquilas">
                            <label for="produccion_maquilas" style="font-size: 9pt;"><i class='fa fa-address-card'></i>MAQUILAS</label>
                        </div>
                    </div>
                </div>
            </div>        
        </section>
        <footer class="" style="position:relative; padding:1em;background: #FFF; border-top:0px solid #EEE; border-radius:0 0 0.8em 0.8em " >
                <button class="button is-success" (click)= "agregar_produccion()">AGREGAR A PRODUCCIÓN</button>
        </footer>
    </div>
</div>

<div class="notification is-danger" style="position:fixed; left:1em;  bottom:1em;" *ngIf="mensajeError.mostrar">
    <button class="delete" (click)="mensajeError.mostrar = false"></button>        
    <b>Error:</b> {{ mensajeError.texto }}<br><br>
    <p style="text-align:center" ><a  class="button is-danger is-inverted" (click)="ultimaPeticion(); mensajeError.mostrar = false"> <span class="icon"><i class="fa fa-refresh"></i></span> <span>Volver a intentar</span></a></p>        
</div>

<div class="notification is-success" style="position:fixed; left:1em;  bottom:1em; width: auto" *ngIf="mensajeExito.mostrar">       
    <button class="delete" (click)="mensajeExito.mostrar = false"></button>
    <p><span class="icon" style="margin-right: 0.5em;"><i class="fa fa-check-circle"></i></span> <span>{{ mensajeExito.texto }}</span></p>
    <br>
    <p style="text-align: center;"><small >Este mensaje desaparecerá en {{ mensajeExito.cuentaAtras }} segundos.</small></p>       
</div>